@page "/AddGraphNodes/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}"

@using GraphML
@using GraphML.UI.Web.Widgets
@using System.Web
@using Flurl
@using GraphML.API.Controllers
@using GraphML.Common
@using Humanizer

<b>Add Graph Items</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphItems/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}")">@HttpUtility.UrlDecode(@GraphName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">Add graph items</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<SpinLoader IsLoading="@_isAddingItems">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <div>
      <MatTableEx
        @ref="_table"
        Items="_data"
        ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Node), nameof(NodeController.ByOwner), RepositoryId)"
        PageParamName="pageIndex"
        PageSizeParamName="pageSize"
        PagingRecordsCountPropertyName="@nameof(PagedDataEx<Node>.TotalCount).Camelize()"
        PagingDataPropertyName="@nameof(PagedDataEx<Node>.Items).Camelize()"
        FilterByColumnName="@nameof(Node.Name)"
        Striped="true"
        class="mat-elevation-z5">
        <MatTableHeader>
          <th>Name</th>
        </MatTableHeader>
        <MatTableRow>
          <td>@context.Name</td>
        </MatTableRow>
      </MatTableEx>
    </div>
    <p/>

    <div>
      <MatButton Icon="filter_list" @onclick="@(e => AddFilteredItems())" Raised="true">Add filtered items</MatButton>
    </div>
    <p/>

    <div>
      <MatButton OnClick="@(e => { _addAllDialogIsOpen = true; })" Icon="library_add">Add all items...</MatButton>
      <MatDialog @bind-IsOpen="@_addAllDialogIsOpen">
        <MatDialogTitle>Add *all* repository items?</MatDialogTitle>
        <MatDialogActions>
          <MatButton OnClick="@(e => { _addAllDialogIsOpen = false; })">Cancel</MatButton>
          <MatButton OnClick="@(async () => await AddAllItems())">OK</MatButton>
        </MatDialogActions>
      </MatDialog>
    </div>

  </ContentTemplate>
</SpinLoader>
