@page "/BrowseOrganisations"

@using GraphML
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers

@inject IConfiguration _config
@inject NavigationManager _navMgr

<h1>Organisations</h1>

<MatTable
  Items="@_orgs"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Organisation), nameof(OrganisationController.GetAll))"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  FilterByColumnName="@nameof(Organisation.Name)"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
    <th>Repository Managers</th>
    <th>Contacts</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
    <td>
      <MatButton Icon="person_pin_circle" @onclick="@(e => GotoBrowseRepositoryManagers(@context))"/>
    </td>
    <td>
      <MatButton Icon="contacts" @onclick="@(e => GotoBrowseContacts(@context))"/>
    </td>
  </MatTableRow>
</MatTable>

@code
{
  private Organisation[] _orgs;

  private void GotoBrowseRepositoryManagers(Organisation org)
  {
    _navMgr.NavigateTo($"/BrowseRepositoryManagers/{org.Id}/{org.Name}");
  }

  private void GotoBrowseContacts(Organisation org)
  {
    _navMgr.NavigateTo($"/BrowseContacts/{org.Id}/{org.Name}");
  }
}
