@page "/BrowseAnalyses/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}"

@attribute [Authorize]

@using Flurl
@using System.Web;
@using GraphML.API.Controllers
@using GraphML.API.Server;
@using GraphML.Common
@using GraphML.Interfaces.Server
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@using Humanizer

@inject IHttpContextAccessor _context
@inject IContactServer _contactServer
@inject IAnalysisServer _analysisServer
@inject IConfiguration _config
@inject NavigationManager _navMgr

<b>Analyses</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">@HttpUtility.UrlDecode(@GraphName)</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<div>
  <MatAccordion Multi="true">
    <MatExpansionPanel>
      <MatExpansionPanelSummary>
        <MatExpansionPanelHeader>Find Shortest Paths</MatExpansionPanelHeader>
      </MatExpansionPanelSummary>
      <MatExpansionPanelDetails>

        <MatExpansionPanel>
          <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Root node [@_shortestPathRootNode?.Name]</MatExpansionPanelHeader>
          </MatExpansionPanelSummary>
          <MatExpansionPanelDetails>
            <MatTable
              Items="@_graphNodes"
              ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(GraphNode), nameof(GraphNodeController.ByOwner), GraphId)"
              PageParamName="pageIndex"
              PageSizeParamName="pageSize"
              PagingRecordsCountPropertyName="@nameof(PagedDataEx<GraphNode>.TotalCount).Camelize()"
              PagingDataPropertyName="@nameof(PagedDataEx<GraphNode>.Items).Camelize()"
              FilterByColumnName="@nameof(GraphNode.Name)"
              Striped="true"
              AllowSelection="true"
              SelectionChanged="OnRootSelectionChanged"
              class="mat-elevation-z5">
              <MatTableHeader>
                <th>Name</th>
              </MatTableHeader>
              <MatTableRow>
                <td>@context.Name</td>
              </MatTableRow>
            </MatTable>
          </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel>
          <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Goal node [@_shortestPathGoalNode?.Name]</MatExpansionPanelHeader>
          </MatExpansionPanelSummary>
          <MatExpansionPanelDetails>
            <MatTable
              Items="@_graphNodes"
              ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(GraphNode), nameof(GraphNodeController.ByOwner), GraphId)"
              PageParamName="pageIndex"
              PageSizeParamName="pageSize"
              PagingRecordsCountPropertyName="@nameof(PagedDataEx<GraphNode>.TotalCount).Camelize()"
              PagingDataPropertyName="@nameof(PagedDataEx<GraphNode>.Items).Camelize()"
              FilterByColumnName="@nameof(GraphNode.Name)"
              Striped="true"
              AllowSelection="true"
              SelectionChanged="OnGoalSelectionChanged"
              class="mat-elevation-z5">
              <MatTableHeader>
                <th>Name</th>
              </MatTableHeader>
              <MatTableRow>
                <td>@context.Name</td>
              </MatTableRow>
            </MatTable>
          </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <div>
          <MatButton Icon="multiline_chart" @onclick="@(e => OnNewDialog(SubmitShortestPath))"/>
        </div>
        <p>@_findShortestPathsCorrelationId</p>
      </MatExpansionPanelDetails>
    </MatExpansionPanel>

    <MatExpansionPanel>
      <MatExpansionPanelSummary>
        <MatExpansionPanelHeader>Betweenness</MatExpansionPanelHeader>
      </MatExpansionPanelSummary>
      <MatExpansionPanelDetails>
        <MatButton Icon="bar_chart" @onclick="@(e => OnNewDialog(SubmitBetweenness))"/>
        <p>@_betweennessCorrelationId</p>
      </MatExpansionPanelDetails>
    </MatExpansionPanel>

    <MatExpansionPanel>
      <MatExpansionPanelSummary>
        <MatExpansionPanelHeader>Closeness</MatExpansionPanelHeader>
      </MatExpansionPanelSummary>
      <MatExpansionPanelDetails>
        <MatButton Icon="pie_chart" @onclick="@(e => OnNewDialog(SubmitCloseness))"/>
        <p>@_closenessCorrelationId</p>
      </MatExpansionPanelDetails>
    </MatExpansionPanel>

    <MatExpansionPanel>
      <MatExpansionPanelSummary>
        <MatExpansionPanelHeader>Degree</MatExpansionPanelHeader>
      </MatExpansionPanelSummary>
      <MatExpansionPanelDetails>
        <MatButton Icon="table_chart" @onclick="@(e => OnNewDialog(SubmitDegree))"/>
        <p>@_degreeCorrelationId</p>
      </MatExpansionPanelDetails>
    </MatExpansionPanel>

    <MatExpansionPanel>
      <MatExpansionPanelSummary>
        <MatExpansionPanelHeader>Find Duplicates</MatExpansionPanelHeader>
      </MatExpansionPanelSummary>
      <MatExpansionPanelDetails>
      <div>
        <label>Minimum matching key length:</label>
        <MatSelectValue @bind-Value="_selNumItems" Items="@_numItems" ValueSelector="@(i => i)"></MatSelectValue>
      </div>
        <MatButton Icon="file_copy" @onclick="@(e => OnNewDialog(SubmitFindDuplicates))"/>
        <p>@_findDuplicatesCorrelationId</p>
      </MatExpansionPanelDetails>
    </MatExpansionPanel>

  </MatAccordion>
</div>
<p/>

<div>
  <MatButton Icon="list" @onclick="@(e => GotoListItems())">List items...</MatButton>
</div>

<div>
  <MatDialog @bind-IsOpen="@_newDialogIsOpen">
    <MatDialogTitle>Create new analysis</MatDialogTitle>
    <MatDialogContent>
      <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _newDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@OkClick">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>
