@page "/BrowseWhereUsedEdges/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{ItemId}/{ItemName}"

@using GraphML
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers
@using System.Web;
@using Humanizer

@inject IConfiguration _config
@inject NavigationManager _navMgr

<b>Where Used - Edges</b><p/>
<span class="bread-crumb-trail">@HttpUtility.UrlDecode(OrganisationName) / @HttpUtility.UrlDecode(RepositoryManagerName) / @HttpUtility.UrlDecode(RepositoryName) / @HttpUtility.UrlDecode(RepositoryName) / @HttpUtility.UrlDecode(ItemName)</span>

<MatTable
  Items="@_graphs"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Graph), nameof(GraphController.ByEdgeId), ItemId)"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  PagingRecordsCountPropertyName="@nameof(PagedDataEx<Graph>.TotalCount).Camelize()"
  PagingDataPropertyName="@nameof(PagedDataEx<Graph>.Items).Camelize()"
  FilterByColumnName="@nameof(Graph.Name)"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
  </MatTableRow>
</MatTable>

<MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseItems())">Back</MatButton>
