@page "/BrowseGraphItems/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}"

@using GraphML
@using GraphML.Common
@using Flurl
@using GraphML.API.Controllers
@using System.Web;
@using Humanizer

<b>Graph Items</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">@HttpUtility.UrlDecode(@GraphName)</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<div>
  <MatTabGroup>
    <MatTab Label="Graph Nodes">
      <MatTable
        Items="@_nodes"
        ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(GraphNode), nameof(GraphNodeController.ByOwner), GraphId)"
        PageParamName="pageIndex"
        PageSizeParamName="pageSize"
        PagingRecordsCountPropertyName="@nameof(PagedDataEx<GraphNode>.TotalCount).Camelize()"
        PagingDataPropertyName="@nameof(PagedDataEx<GraphNode>.Items).Camelize()"
        FilterByColumnName="@nameof(GraphNode.Name)"
        Striped="true"
        AllowSelection="true"
        class="mat-elevation-z5">
        <MatTableHeader>
          <th>Name</th>
        </MatTableHeader>
        <MatTableRow>
          <td>@context.Name</td>
          <td>
            <MatButton Icon="delete" @onclick="@(e => DeleteGraphNode(@context))"></MatButton>
          </td>
        </MatTableRow>
      </MatTable>

      <div>
        <MatButton Icon="library_add" @onclick="@(e => GotoAddGraphNodes())">Add graph nodes...</MatButton>
      </div>
    </MatTab>

    <MatTab Label="Graph Edges">
      <MatTable
        Items="@_edges"
        ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(GraphEdge), nameof(GraphEdgeController.ByOwner), GraphId)"
        PageParamName="pageIndex"
        PageSizeParamName="pageSize"
        PagingRecordsCountPropertyName="@nameof(PagedDataEx<GraphEdge>.TotalCount).Camelize()"
        PagingDataPropertyName="@nameof(PagedDataEx<GraphEdge>.Items).Camelize()"
        FilterByColumnName="@nameof(GraphEdge.Name)"
        Striped="true"
        AllowSelection="true"
        class="mat-elevation-z5">
        <MatTableHeader>
          <th>Name</th>
        </MatTableHeader>
        <MatTableRow>
          <td>@context.Name</td>
          <td>
            <MatButton Icon="delete" @onclick="@(e => DeleteGraphEdge(@context))"></MatButton>
          </td>
        </MatTableRow>
      </MatTable>

      <div>
        <MatButton Icon="library_add" @onclick="@(e => GotoAddGraphEdges())">Add graph edges...</MatButton>
      </div>
    </MatTab>
  </MatTabGroup>
</div>
