@page "/BrowseEdges/{RepositoryId}/{RepositoryName}"

@using GraphML
@using System.Web;
@using GraphML.Interfaces.Server

@inject IEdgeServer _edgeServer
@inject IRepositoryServer _repoServer;
@inject IRepositoryManagerServer _repoMgrServer;
@inject NavigationManager _navMgr

<h1>Edges</h1>
@if (_edges == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <h2>@HttpUtility.UrlDecode(RepositoryName)</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Where Used</th>
      <th scope="col">Parents</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var edge in _edges)
    {
      <tr>
        <th>@edge.Name</th>
        <th>
          <MatButton @onclick="@(e => GotoBrowseWhereUsed(edge))" class="fas fa-question btn btn-primary"/>
        </th>
        <th>
          <MatButton @onclick="@(e => GotoBrowseParents(edge))" class="fas fa-user-friends btn btn-primary"/>
        </th>
      </tr>
    }
    </tbody>
  </table>
  <MatButton type="button" class="btn btn-primary" @onclick="@(e => GotoBrowseRepositories())">Back</MatButton>
}

@functions
{
  [Parameter]
  public string RepositoryName { get; set; }

  [Parameter]
  public string RepositoryId { get; set; }

  private IEnumerable<Edge> _edges;
  private RepositoryManager _repoMgr;

  protected override async Task OnInitializedAsync()
  {
    _edges = await _edgeServer.ByOwners(new[] {Guid.Parse(RepositoryId)}, 1, 20); //TODO paging
    var repo = (await _repoServer.ByIds(new[] {Guid.Parse(RepositoryId)})).Single();
    _repoMgr = (await _repoMgrServer.ByIds(new[] {repo.RepositoryManagerId})).Single();
  }

  private void GotoBrowseRepositories()
  {
    _navMgr.NavigateTo($"/BrowseRepositories/{_repoMgr.Id}/{_repoMgr.Name}");
  }

  private void GotoBrowseWhereUsed(Item item)
  {
    _navMgr.NavigateTo($"/BrowseWhereUsedEdges/{item.Id}/{item.Name}");
  }

  private void GotoBrowseParents(Item item)
  {
    _navMgr.NavigateTo($"/BrowseParentEdges/{item.Id}/{item.Name}");
  }
}
