@page "/BrowseWhereUsedNodes/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{ItemId}/{ItemName}"

@using GraphML
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers
@using System.Web;
@using Humanizer

@inject IConfiguration _config
@inject NavigationManager _navMgr

<b>Where Used - Nodes</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseItems/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">@HttpUtility.UrlDecode(@ItemName)</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<MatTable
  Items="@_graphs"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Graph), nameof(GraphController.ByNodeId), ItemId)"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  PagingRecordsCountPropertyName="@nameof(PagedDataEx<Graph>.TotalCount).Camelize()"
  PagingDataPropertyName="@nameof(PagedDataEx<Graph>.Items).Camelize()"
  FilterByColumnName="@nameof(Graph.Name)"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
  </MatTableRow>
</MatTable>
