@page "/BrowseWhereUsedEdges/{ItemId}/{ItemName}"

@using GraphML
@using System.Web;
@using GraphML.Interfaces.Server

@inject IGraphServer _graphServer
@inject IEdgeServer _itemServer
@inject IRepositoryServer _repoServer
@inject NavigationManager _navMgr

<h1>Where Used - Edges</h1>
@if (_graphs == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <h2>@HttpUtility.UrlDecode(ItemName)</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var graph in _graphs)
    {
      <tr>
        <th>@graph.Name</th>
      </tr>
    }
    </tbody>
  </table>
  <div>
    <MatPaginator Length="@_totalEnts" PageSize="@_pageSize" Page="@OnPage"></MatPaginator>
  </div>
  <MatButton type="button" class="btn btn-primary" @onclick="@(e => GotoBrowseItems())">Back</MatButton>
}

@functions
{
  [Parameter]
  public string ItemId { get; set; }

  [Parameter]
  public string ItemName { get; set; }

  private IEnumerable<Graph> _graphs;
  private Repository _repo;
  int _totalEnts = 0;
  int _pageIndex = 0;
  int _pageSize = 25;

  protected override async Task OnInitializedAsync()
  {
    _totalEnts = await _graphServer.Count(Guid.Parse(ItemId));
    _graphs = await _graphServer.ByEdgeId(Guid.Parse(ItemId), _pageIndex, _pageSize);
    var item = (await _itemServer.ByIds(new[] {Guid.Parse(ItemId)})).Single();
    _repo = (await _repoServer.ByIds(new[] {item.RepositoryId})).Single();
  }

  private async Task OnPage(MatPaginatorPageEvent e)
  {
    _pageSize = e.PageSize;
    _pageIndex = e.PageIndex;
    _graphs = await _graphServer.ByEdgeId(Guid.Parse(ItemId), _pageIndex, _pageSize);
  }

  private void GotoBrowseItems()
  {
    _navMgr.NavigateTo($"/BrowseEdges/{_repo.Id}/{_repo.Name}");
  }
}
