@page "/BrowseGraphs/{RepositoryId}/{RepositoryName}"

@using GraphML
@using System.Web;
@using GraphML.Interfaces.Server

@inject IGraphServer _graphServer
@inject IRepositoryServer _repoServer;
@inject IRepositoryManagerServer _repoMgrServer;
@inject NavigationManager _navMgr

<h1>Graphs</h1>
@if (_graphs == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <h2>@HttpUtility.UrlDecode(RepositoryName)</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Graph Nodes</th>
      <th scope="col">Graph Edges</th>
      <th scope="col">Analysis</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var graph in _graphs)
    {
      <tr>
        <th>@graph.Name</th>
        <th>
          <MatButton @onclick="@(e => GotoBrowseGraphNodes(graph))" class="fas fa-genderless btn btn-primary"/>
        </th>
        <th>
          <MatButton @onclick="@(e => GotoBrowseGraphEdges(graph))" class="fas fa-grip-lines-vertical btn btn-primary"/>
        </th>
        <th>
          <MatButton @onclick="@(e => GotoBrowseAnalyses(graph))" class="fas fa-calculator btn btn-primary"/>
        </th>
      </tr>
    }
    </tbody>
  </table>
  <div>
    <MatPaginator Length="@_totalEnts" PageSize="@_pageSize" Page="@OnPage"></MatPaginator>
  </div>
  <MatButton type="button" class="btn btn-primary" @onclick="@(e => GotoBrowseRepositories())">Back</MatButton>
}

@functions
{
  [Parameter]
  public string RepositoryName { get; set; }

  [Parameter]
  public string RepositoryId { get; set; }

  private IEnumerable<Graph> _graphs;
  private RepositoryManager _repoMgr;
  int _totalEnts = 0;
  int _pageIndex = 0;
  int _pageSize = 25;

  protected override async Task OnInitializedAsync()
  {
    _totalEnts = await _graphServer.Count(Guid.Parse(RepositoryId));
    _graphs = await _graphServer.ByOwners(new[] {Guid.Parse(RepositoryId)}, _pageIndex, _pageSize);
    var repo = (await _repoServer.ByIds(new[] {Guid.Parse(RepositoryId)})).Single();
    _repoMgr = (await _repoMgrServer.ByIds(new[] {repo.RepositoryManagerId})).Single();
  }

  private async Task OnPage(MatPaginatorPageEvent e)
  {
    _pageSize = e.PageSize;
    _pageIndex = e.PageIndex;
    _graphs = await _graphServer.ByOwners(new[] {Guid.Parse(RepositoryId)}, _pageIndex, _pageSize);
  }

  private void GotoBrowseGraphNodes(Graph graph)
  {
    _navMgr.NavigateTo($"/BrowseGraphNodes/{graph.Id}/{graph.Name}");
  }

  private void GotoBrowseGraphEdges(Graph graph)
  {
    _navMgr.NavigateTo($"/BrowseGraphEdges/{graph.Id}/{graph.Name}");
  }

  private void GotoBrowseAnalyses(Graph graph)
  {
    _navMgr.NavigateTo($"/BrowseAnalyses/{graph.Id}/{graph.Name}");
  }

  private void GotoBrowseRepositories()
  {
    _navMgr.NavigateTo($"/BrowseRepositories/{_repoMgr.Id}/{_repoMgr.Name}");
  }
}
