@page "/BrowseCharts/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}"

@using GraphML
@using GraphML.Common
@using Flurl
@using GraphML.API.Controllers
@using System.Web;
@using Humanizer

<b>Charts</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">@HttpUtility.UrlDecode(@GraphName)</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<MatTable
  Items="@_charts"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Chart), nameof(ChartController.ByOwner), GraphId)"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  PagingRecordsCountPropertyName="@nameof(PagedDataEx<GraphNode>.TotalCount).Camelize()"
  PagingDataPropertyName="@nameof(PagedDataEx<GraphNode>.Items).Camelize()"
  FilterByColumnName="@nameof(GraphNode.Name)"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
  </MatTableHeader>
  <MatTableRow>
    <td>
      <MatButton Label="@context.Name" @onclick="@(e => GotoShowChart(@context))"></MatButton>
    </td>
    <td>
      <MatButton Icon="delete" @onclick="@(e => ConfirmDelete(@context))"></MatButton>
    </td>
  </MatTableRow>
</MatTable>

<div>
  <MatDialog @bind-IsOpen="@_deleteDialogIsOpen">
    <MatDialogTitle>Delete chart?</MatDialogTitle>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _deleteItem = null; _deleteDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@Delete">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>

<div>
  <MatButton OnClick="@(e => { _dlgNewItemName = null; _newChartDialogIsOpen = true; })" Icon="create_new_folder" Raised="true">New chart...</MatButton>
  <MatDialog @bind-IsOpen="@_newChartDialogIsOpen">
    <MatDialogTitle>Create new chart</MatDialogTitle>
    <MatDialogContent>
      <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _newChartDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@OkNewChartClick">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>
<p/>
<div>
  <MatButton OnClick="@(e => { _dlgNewItemName = null; _newTimelineDialogIsOpen = true; })" Icon="timeline" Raised="true">New timeline...</MatButton>
  <MatDialog @bind-IsOpen="@_newTimelineDialogIsOpen">
    <MatDialogTitle>Create new timeline</MatDialogTitle>
    <MatDialogContent>
      <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _newTimelineDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@OkNewTimelineClick">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>
