@page "/BrowseGraphEdges/{GraphId}/{GraphName}"

@using GraphML
@using System.Web;
@using GraphML.Interfaces.Server

@inject IGraphEdgeServer _edgeServer
@inject IGraphServer _graphServer;
@inject IRepositoryServer _repoServer;
@inject NavigationManager _navMgr

<h1>Graph Edges</h1>
@if (_edges == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <h2>@HttpUtility.UrlDecode(GraphName)</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var edge in _edges)
    {
      <tr>
        <th>@edge.Name</th>
      </tr>
    }
    </tbody>
  </table>
  <div>
    <MatPaginator Length="@_totalEnts" PageSize="@_pageSize" Page="@OnPage"></MatPaginator>
  </div>
  <MatButton type="button" class="btn btn-primary" @onclick="@(e => GotoBrowseGraphs())">Back</MatButton>
}

@functions
{
  [Parameter]
  public string GraphName { get; set; }

  [Parameter]
  public string GraphId { get; set; }

  private IEnumerable<GraphEdge> _edges;
  private Repository _repo;
  int _totalEnts = 0;
  int _pageIndex = 0;
  int _pageSize = 25;

  protected override async Task OnInitializedAsync()
  {
    _totalEnts = await _edgeServer.Count(Guid.Parse(GraphId));
    _edges = await _edgeServer.ByOwners(new[] {Guid.Parse(GraphId)}, _pageIndex, _pageSize);
    var graph = (await _graphServer.ByIds(new[] {Guid.Parse(GraphId)})).Single();
    _repo = (await _repoServer.ByIds(new[] {graph.RepositoryId})).Single();
  }

  private async Task OnPage(MatPaginatorPageEvent e)
  {
    _pageSize = e.PageSize;
    _pageIndex = e.PageIndex;
    _edges = await _edgeServer.ByOwners(new[] {Guid.Parse(GraphId)}, _pageIndex, _pageSize);
  }

  private void GotoBrowseGraphs()
  {
    _navMgr.NavigateTo($"/BrowseGraphs/{_repo.Id}/{_repo.Name}");
  }
}
