@page "/BrowseContacts/{OrganisationId}/{OrganisationName}"

@using GraphML
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers
@using System.Web;

@inject IConfiguration _config
@inject NavigationManager _navMgr

<h1>Contacts</h1>
<h4>@HttpUtility.UrlDecode(@OrganisationName)</h4>

<!-- TODO  PagedDataEx -->
<MatTable
  Items="@_contacts"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Contact), nameof(ContactController.ByOwner), OrganisationId)"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
  </MatTableRow>
</MatTable>
<MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseOrganisations())">Back</MatButton>

@functions
{
  [Parameter]
  public string OrganisationName { get; set; }

  [Parameter]
  public string OrganisationId { get; set; }

  private Contact[] _contacts;

  private void GotoBrowseOrganisations()
  {
    _navMgr.NavigateTo($"/BrowseOrganisations");
  }
}
