@page "/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}"

@using GraphML
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers
@using System.Web;
@using GraphML.Interfaces.Server
@using Humanizer

@inject IRepositoryServer _graphServer
@inject IConfiguration _config
@inject NavigationManager _navMgr

<h1>Repositories</h1>
<h4>@HttpUtility.UrlDecode(OrganisationName) / @HttpUtility.UrlDecode(RepositoryManagerName)</h4>

<MatTable
  Items="@_repos"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Repository), nameof(RepositoryController.ByOwner), RepositoryManagerId)"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  PagingRecordsCountPropertyName="@nameof(PagedDataEx<Repository>.TotalCount).Camelize()"
  PagingDataPropertyName="@nameof(PagedDataEx<Repository>.Items).Camelize()"
  FilterByColumnName="@nameof(Repository.Name)"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
    <th>Graphs</th>
    <th>Items</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
    <td>
      <MatButton Icon="multiline_chart" @onclick="@(e => GotoBrowseGraphs(@context))"/>
    </td>
    <td>
      <MatButton Icon="vertical_split" @onclick="@(e => GotoBrowseItems(@context))"/>
    </td>
    <td>
      <MatButton Icon="delete" @onclick="@(e => ConfirmDelete(@context))"></MatButton>
    </td>
  </MatTableRow>
</MatTable>

<div>
  <MatDialog @bind-IsOpen="@_deleteDialogIsOpen">
    <MatDialogTitle>Delete repository?</MatDialogTitle>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _deleteItem = null; _deleteDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@Delete">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>

<div>
  <MatButton OnClick="@NewDialog" Icon="create_new_folder" Raised="true">New repository...</MatButton>
  <MatDialog @bind-IsOpen="@_newDialogIsOpen">
    <MatDialogTitle>Create new repository</MatDialogTitle>
    <MatDialogContent>
      <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _newDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@OkClick">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>

<MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseRepositoryManagers())">Back</MatButton>
