@page "/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}"

@using GraphML
@using GraphML.Common
@using System.Web;
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers
@using GraphML.Interfaces.Server
@using Humanizer

@inject IRepositoryManagerServer _repoMgrServer
@inject IConfiguration _config
@inject NavigationManager _navMgr

<b>Repository Managers</b><p/>
<span class="bread-crumb-trail">@HttpUtility.UrlDecode(@OrganisationName)</span>

<MatTable
  Items="@_repoMgrs"
  ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(RepositoryManager), nameof(RepositoryManagerController.ByOwner), OrganisationId)"
  PageParamName="pageIndex"
  PageSizeParamName="pageSize"
  PagingRecordsCountPropertyName="@nameof(PagedDataEx<RepositoryManager>.TotalCount).Camelize()"
  PagingDataPropertyName="@nameof(PagedDataEx<RepositoryManager>.Items).Camelize()"
  FilterByColumnName="@nameof(RepositoryManager.Name)"
  Striped="true"
  AllowSelection="true"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>Name</th>
    <th>Repositories</th>
    <th>Attributes</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.Name</td>
    <td>
      <MatButton Icon="settings_input_component" @onclick="@(e => GotoBrowseRepositories(@context))"/>
    </td>
    <td>
      <MatButton Icon="edit_attributes" @onclick="@(e => GotoBrowseAttributes(@context))"/>
    </td>
    <td>
      <MatButton Icon="delete" @onclick="@(e => ConfirmDelete(@context))"></MatButton>
    </td>
  </MatTableRow>
</MatTable>

<div>
  <MatButton Icon="cloud_upload" @onclick="@(e => GotoImporter())">Import</MatButton>
</div>

<div>
  <MatDialog @bind-IsOpen="@_deleteDialogIsOpen">
    <MatDialogTitle>Delete repository manager?</MatDialogTitle>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _deleteItem = null; _deleteDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@Delete">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>

<div>
  <MatButton OnClick="@NewDialog" Icon="create_new_folder" Raised="true">New repository manager...</MatButton>
  <MatDialog @bind-IsOpen="@_newDialogIsOpen">
    <MatDialogTitle>Create new repository manager</MatDialogTitle>
    <MatDialogContent>
      <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _newDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@OkClick">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>

<MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseOrganisations())">Back</MatButton>
