@page "/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}"

@attribute [Authorize]

@using GraphML
@using GraphML.UI.Web.Widgets
@using GraphML.Common
@using Microsoft.Extensions.Configuration
@using Flurl
@using GraphML.API.Controllers
@using System.Web;
@using GraphML.Interfaces.Server
@using Humanizer

@inject IGraphServer _graphServer
@inject IConfiguration _config
@inject NavigationManager _navMgr

<b>Graphs</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<SpinLoader IsLoading="@_isBusy">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <div>
      <MatTable
        Items="@_graphs"
        ApiUrl="@Url.Combine(@_config.API_URI(), "api", nameof(Graph), nameof(GraphController.ByOwner), RepositoryId)"
        PageParamName="pageIndex"
        PageSizeParamName="pageSize"
        PagingRecordsCountPropertyName="@nameof(PagedDataEx<Graph>.TotalCount).Camelize()"
        PagingDataPropertyName="@nameof(PagedDataEx<Graph>.Items).Camelize()"
        FilterByColumnName="@nameof(Graph.Name)"
        Striped="true"
        AllowSelection="true"
        class="mat-elevation-z5">
        <MatTableHeader>
          <th>Name</th>
          <th>Graphs Items</th>
          <th>Charts</th>
          <th>Analyses</th>
          <th>Results</th>
        </MatTableHeader>
        <MatTableRow>
          <td>@context.Name</td>
          <td>
            <MatButton Icon="vertical_split" @onclick="@(e => GotoBrowseGraphItems(@context))"/>
          </td>
          <td>
            <MatButton Icon="file_copy" @onclick="@(e => GotoBrowseCharts(@context))"/>
          </td>
          <td>
            <MatButton Icon="functions" @onclick="@(e => GotoBrowseAnalyses(@context))"/>
          </td>
          <td>
            <MatButton Icon="assignment_turned_in" @onclick="@(e => GotoBrowseResults(@context))"/>
          </td>
          <td>
            <MatButton Icon="delete" @onclick="@(e => ConfirmDelete(@context))"></MatButton>
          </td>
        </MatTableRow>
      </MatTable>
    </div>

  </ContentTemplate>
</SpinLoader>

<div>
  <MatDialog @bind-IsOpen="@_deleteDialogIsOpen">
    <MatDialogTitle>Delete graph?</MatDialogTitle>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _deleteItem = null; _deleteDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@Delete">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>

<div>
  <MatButton OnClick="@NewDialog" Icon="create_new_folder" Raised="true">New graph...</MatButton>
  <MatDialog @bind-IsOpen="@_newDialogIsOpen">
    <MatDialogTitle>Create new graph</MatDialogTitle>
    <MatDialogContent>
      <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
      <MatButton OnClick="@(e => { _newDialogIsOpen = false; })">Cancel</MatButton>
      <MatButton OnClick="@OkClick">OK</MatButton>
    </MatDialogActions>
  </MatDialog>
</div>
