@page "/Importer/{OrganisationId}/{OrganisationName}"

@using System.Web;
@using GraphML.Interfaces.Server

@inject IImporterServer _importerServer
@inject NavigationManager _navMgr
@inject IMatToaster _toaster

<b>Importer</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">Importer</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<div>
  <MatFileUpload OnChange="@FilesReadyForContent" Label="Drop a single file here or Browse"/>
  <MatTextField
    @bind-Value="@CurrentFileName"
    ReadOnly="true"
    FullWidth="true"
    Label="Data File"
    Icon="attach_file"/>
  <MatTextField
    @bind-Value="@ImportSpec"
    Icon="settings"
    FullWidth="true"
    Label="Import Specification"
    TextArea="true"
    style="width: 100%; max-height: 500px; height: 500px;"/>
  <div>
    <MatButton Icon="build" @onclick="@(e => DoImport())">Import</MatButton>
  </div>
</div>
