@page "/Importer/{OrganisationId}/{OrganisationName}"

@using System.Web;
@using GraphML.Interfaces.Server

@inject IImporterServer _importerServer
@inject NavigationManager _navMgr
@inject IMatToaster _toaster

<h1>Importer</h1>
<h2>@HttpUtility.UrlDecode(@OrganisationName)</h2>

<div>
  <MatFileUpload OnChange="@FilesReadyForContent" Label="Drop a single file here or Browse"/>
  <MatTextField
    @bind-Value="@CurrentFileName"
    ReadOnly="true"
    FullWidth="true"
    Label="Data File"
    Icon="attach_file"/>
  <MatTextField
    @bind-Value="@ImportSpec"
    Icon="settings"
    FullWidth="true"
    Label="Import Specification"
    TextArea="true"
    style="width: 100%; max-height: 500px; height: 500px;"/>
  <div>
    <MatButton Icon="build" @onclick="@(e => DoImport())">Import</MatButton>
  </div>
</div>
<MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseRepositoryManagers())">Back</MatButton>
