@page "/ShowChart/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}/{ChartId}/{ChartName}"

@using GraphML
@using Microsoft.Extensions.Configuration
@using System.Web;
@using Blazor.Diagrams.Core
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models

<!-- required to resolve DiagramCanvas component -->
@using Blazor.Diagrams.Components
@using GraphML.Interfaces.Porcelain
@using GraphML.Interfaces.Server

@inject HttpClient _http
@inject IChartExServer _chartExServer
@inject IChartNodeServer _nodeServer
@inject IChartEdgeServer _edgeServer
@inject IConfiguration _config
@inject NavigationManager _navMgr

<h1>Chart</h1>
<h4>@HttpUtility.UrlDecode(OrganisationName) / @HttpUtility.UrlDecode(RepositoryManagerName) / @HttpUtility.UrlDecode(RepositoryName) / @HttpUtility.UrlDecode(GraphName) / @HttpUtility.UrlDecode(ChartName)</h4>

<!-- TODO  ShowChart -->
<!--
Parent of DiagramCanvas has to have a fixed width/height
or it will not be rendered.

100vw = 100% viewport width
100vh = 100% viewport height
-->
<div style="width:100vw; height: 100vh">
  <CascadingValue Value="Diagram">
    <DiagramCanvas></DiagramCanvas>
  </CascadingValue>
</div>

<MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseCharts())">Back</MatButton>

@code
{
  [Parameter]
  public string OrganisationName { get; set; }

  [Parameter]
  public string OrganisationId { get; set; }

  [Parameter]
  public string RepositoryManagerName { get; set; }

  [Parameter]
  public string RepositoryManagerId { get; set; }

  [Parameter]
  public string RepositoryName { get; set; }

  [Parameter]
  public string RepositoryId { get; set; }

  [Parameter]
  public string GraphName { get; set; }

  [Parameter]
  public string GraphId { get; set; }

  [Parameter]
  public string ChartName { get; set; }

  [Parameter]
  public string ChartId { get; set; }

  private Chart[] _charts;
  private Diagram Diagram { get; set; }

  protected override async void OnInitialized()
  {
    base.OnInitialized();
    
    var nodes = await _nodeServer.ByOwner(Guid.Parse(ChartId), 0, int.MaxValue, string.Empty);
    var edges = await _edgeServer.ByOwner(Guid.Parse(ChartId), 0, int.MaxValue, string.Empty);
    var chartEx = await _chartExServer.ById(Guid.Parse(ChartId));
    var options = new DiagramOptions
    {
      DeleteKey = "Delete", // What key deletes the selected nodes/links
      DefaultNodeComponent = null, // Default component for nodes
      AllowMultiSelection = true, // Whether to allow multi selection using CTRL
      Links = new DiagramLinkOptions
      {
      },
      Zoom = new DiagramZoomOptions
      {
        Minimum = 0.5, // Minimum zoom value
        Inverse = false, // Whether to inverse the direction of the zoom when using the wheel
      }
    };
    Diagram = new Diagram(options);
    
    Setup();
  }
  
  private void Setup()
  {
    var node1 = NewNode(50, 50);
    var node2 = NewNode(300, 300);
    var node3 = NewNode(300, 50);
    Diagram.Nodes.Add(new [] { node1, node2, node3 });
    
    Diagram.Links.Add(new LinkModel(node1.GetPort(PortAlignment.Right), node2.GetPort(PortAlignment.Left)));
  }
  
  private static NodeModel NewNode(double x, double y)
  {
    var node = new NodeModel(new Point(x, y));
    node.AddPort(PortAlignment.Bottom);
    node.AddPort(PortAlignment.Top);
    node.AddPort(PortAlignment.Left);
    node.AddPort(PortAlignment.Right);
    return node;
  }
  
  private void GotoBrowseCharts()
  {
    _navMgr.NavigateTo($"/BrowseCharts/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}");
  }
}
