@page "/ShowTimeLine/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}/{TimelineId}/{TimelineName}/{EdgeItemAttributeDefinitionId}/{EdgeItemAttributeDefinitionName}"

@using System.Web;
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.GanttChart

<b>Time Line</b>&nbsp;&nbsp;

<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseCharts/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}")">@HttpUtility.UrlDecode(@GraphName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">@HttpUtility.UrlDecode(TimelineName)</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<ChartJs.Blazor.Chart Config="_config" @ref="_chart"></ChartJs.Blazor.Chart>

@code {
  private GanttConfig _config;
  private ChartJs.Blazor.Chart _chart;

  protected override async Task OnInitializedAsync()
  {
    _config = GetConfig();

    var data = await GetData();
    IDataset<GanttDateTimeData> dataset = GetDataset(data);

    _config.Data.Datasets.Add(dataset);
  }

  public static class ChartColors
  {
    public static readonly System.Drawing.Color Red = System.Drawing.Color.FromArgb(255, 99, 132);
  }

}
