@page "/ShowResult/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}/{CorrelationId}"

@using Microsoft.Extensions.Configuration
@using System.Web;
@using GraphML.Interfaces.Server

@inject IResultServer _resultServer
@inject IConfiguration _config
@inject NavigationManager _navMgr

<h4>Show Result</h4>
<h6>@HttpUtility.UrlDecode(OrganisationName) / @HttpUtility.UrlDecode(RepositoryManagerName) / @HttpUtility.UrlDecode(RepositoryName) / @HttpUtility.UrlDecode(GraphName)</h6>

@CreateDynamicComponent()

<div>
  <MatButton Icon="arrow_back" @onclick="@(e => GotoBrowseResults())">Back</MatButton>
</div>
