@using GraphML.UI.Web.Widgets

<b>Find Communities</b>
<p/>

<SpinLoader IsLoading="@(_data == null)">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <div>
      <MatTableEx
        Items="@_data"
        Striped="true"
        class="mat-elevation-z5">
        <MatTableHeader>
          <th>Community Size</th>
          <th>Members (Sample Only)</th>
        </MatTableHeader>
        <MatTableRow>
          <td>@context.Count</td>
          @{
            var sample = context.Take(SampleSize);
            var names = _sampleGraphNodes
              .Where(cn => sample.Contains(cn.Id))
              .Select(cn => cn.Name)
              .ToList();
            <td>
              <MatAccordion>
                <MatExpansionPanel>
                  <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>
                      <MatIcon Icon="fiber_smart_record"/>
                      Names
                    </MatExpansionPanelHeader>
                  </MatExpansionPanelSummary>
                  <MatExpansionPanelDetails>
                    <MatList>
                      @{
                        foreach (var name in names)
                        {
                          <MatListItem>@name</MatListItem>
                        }
                      }
                    </MatList>
                  </MatExpansionPanelDetails>
                </MatExpansionPanel>
              </MatAccordion>
            </td>
          }
        </MatTableRow>
      </MatTableEx>
    </div>

    <div>
      <MatButton OnClick="@(e => { _dlgNewItemName = null; _newChartDialogIsOpen = true; })" Icon="create_new_folder" Raised="true">New chart...</MatButton>
      <MatDialog @bind-IsOpen="@_newChartDialogIsOpen">
        <MatDialogTitle>Create new chart</MatDialogTitle>
        <MatDialogContent>
          <div>
            <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
          </div>
          <hr/>
          <div>
            <label>Select top:</label>
            <MatSelectValue @bind-Value="_selNumItems" Items="@_numItems" ValueSelector="@(i => i)"></MatSelectValue>
          </div>
        </MatDialogContent>
        <MatDialogActions>
          <MatButton OnClick="@(e => { _newChartDialogIsOpen = false; })">Cancel</MatButton>
          <MatButton OnClick="@OkNewChartClick">OK</MatButton>
        </MatDialogActions>
      </MatDialog>
    </div>

  </ContentTemplate>
</SpinLoader>
