@using GraphML.Analysis.RankedShortestPath
@using GraphML.Analysis

<b>Find Shortest Paths</b>

<div>
    <MatTable Items="@_displayResults"
              Striped="true"
              class="mat-elevation-z5">
        <MatTableHeader>
            <MatSortHeaderRow SortChanged="@SortData">
                <MatSortHeader SortId="@nameof(FindShortestPathsResult<IdentifiableEdge<Guid>>.Cost)">Cost</MatSortHeader>
            </MatSortHeaderRow>
            <th>Path</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Cost</td>
            <td>
                @foreach (var pathSeg in context.Path)
                {
                    <p>@pathSeg.Name</p>
                }
            </td>
        </MatTableRow>
    </MatTable>
</div>

<div>
    <MatButton OnClick="@(e => { _dlgNewItemName = null; _newChartDialogIsOpen = true; })" Icon="create_new_folder" Raised="true">New chart...</MatButton>
    <MatDialog @bind-IsOpen="@_newChartDialogIsOpen">
        <MatDialogTitle>Create new chart</MatDialogTitle>
        <MatDialogContent>
            <div>
                <MatTextField @bind-Value="@_dlgNewItemName"></MatTextField>
            </div>
            <hr />
            <div>
                <label>Select top:</label>
                <MatSelectValue @bind-Value="_selNumItems" Items="@_numItems" ValueSelector="@(i => i)"></MatSelectValue>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { _newChartDialogIsOpen = false; })">Cancel</MatButton>
            <MatButton OnClick="@OkNewChartClick">OK</MatButton>
        </MatDialogActions>
    </MatDialog>
</div>
