@page "/ListItems/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}"

@using GraphML
@using GraphML.UI.Web.Widgets
@using BlazorTable
@using System.Web

<b>List Items</b>
<p/>
<span class="bread-crumb-trail">
  <Breadcrumb>
    <BreadcrumbItem>
      <BreadcrumbLink To="/BrowseOrganisations">Organisations</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositoryManagers/{OrganisationId}/{OrganisationName}")">@HttpUtility.UrlDecode(@OrganisationName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseRepositories/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}")">@HttpUtility.UrlDecode(@RepositoryManagerName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseGraphs/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}")">@HttpUtility.UrlDecode(@RepositoryName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
      <BreadcrumbLink To="@($"/BrowseAnalyses/{OrganisationId}/{OrganisationName}/{RepositoryManagerId}/{RepositoryManagerName}/{RepositoryId}/{RepositoryName}/{GraphId}/{GraphName}")">@HttpUtility.UrlDecode(@GraphName)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
      <BreadcrumbLink To="#">List items</BreadcrumbLink>
    </BreadcrumbItem>
  </Breadcrumb>
</span>

<SpinLoader IsLoading="@(_data == null)">
  <LoadingTemplate>
    <GraphMLSpinner/>
  </LoadingTemplate>
  <ContentTemplate>

    <div>
      <BlazorTable.Table @ref="_table" TableItem="GraphNode" Items="_data" PageSize="15" ColumnReorder="true" SelectionType="SelectionType.Multiple">
        <BlazorTable.Column TableItem="GraphNode" Title="Id" Field="@(x => x.Id)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true"/>
        <BlazorTable.Column TableItem="GraphNode" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="true" Width="20%"/>
        <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true"/>
      </BlazorTable.Table>
    </div>

    <div>
      <MatSelect Label="Select action" @bind-Value="@_itemsAction" Style="width: 125px">
        <MatOption TValue="int" Value="@((int) ListItemsAction.TakeHalf)">Take top half</MatOption>
        <MatOption TValue="int" Value="@((int) ListItemsAction.TakeQuarter)">Take top quarter</MatOption>
        <MatOption TValue="int" Value="@((int) ListItemsAction.TakeSelected)">Take selected</MatOption>
      </MatSelect>

      <MatButton Icon="build" @onclick="@(async e => await OnTakeAction((ListItemsAction) _itemsAction))" Raised="true">Go!</MatButton>
    </div>

  </ContentTemplate>
</SpinLoader>
